

    <link rel="stylesheet" href="/css/admin/couponManagement.css">
    

    <div class="dashboard-container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="sidebar-header">
                <div class="logo">
                    <div class="logo-circle">
                        <i class="fa-solid fa-check"></i>
                    </div>
                    <div class="logo-text">
                        <span class="brand">VELOCE</span>
                        <span class="sub-brand">GAMING</span>
                    </div>
                </div>
            </div>

            <nav class="sidebar-nav">
                <ul>
                    <li><a href="/admin/dashboard"><span>DashBoard</span></a></li>
                    <li><a href="/admin/userManagement"><span>Users</span></a></li>
                    <li><a href="/admin/categoryManagement"><span>Category</span></a></li>
                    <li><a href="/admin/orderManagement"><span>Order</span></a></li>
                    <li><a href="/admin/productManagement"><span>Product</span></a></li>
                    <li class="active"><a href="#"><span>Coupon</span></a></li>
                    <li><a href="/admin/salesManagement"><span>Report</span></a></li>
                    <!-- <li><a href="#"><span>Banner</span></a></li> -->
                </ul>
            </nav>
<a href="/admin/logout" style="text-decoration: none;">
            <div class="sidebar-footer">
                <button class="btn-logout">Log out</button>
            </div></a>
        </aside>

        <!-- Main Content -->
        <main class="main-content">
            <header class="main-header">
                <h1>Coupon Management</h1>
            </header>

            <section class="content-card">
                <div class="table-controls">
                    <div class="search-box">
                        <form action="/admin/couponManagement" method="GET" id="searchForm">
                            <input type="hidden" name="filter" value="<%= filter %>">
                        <div class="search-content">
                            <div class="search-wrapper">
                                <i class="fa-solid fa-magnifying-glass search-icon"></i>
                                <input value="<%= search %>" name="search" type="text" id="couponSearchInput" placeholder="Search" autocomplete="off">
                                <i class="fa-solid fa-xmark clear-icon" id="clearSearch" style="display: none;"></i>
                            </div>
                            <button type="submit" class="search-btn">Search</button>
                        </div>
                        </form>
                    </div>

                    <div class="action-filters-box">
                        <button class="add-btn" id="addCouponBtn"><i class="fa-solid fa-plus"></i> Add Coupon</button>
                        <select class="filter-select" onchange="window.location.href='/admin/couponManagement?filter=' + this.value + '&search=<%= search %>'">
                            <option>Filter : Status</option>
                            <option value="all" <%= filter === 'all' ? 'selected' : '' %>>All</option>
                            <option value="active" <%= filter === 'active' ? 'selected' : '' %>>Active</option>
                            <option value="inactive" <%= filter === 'inactive' ? 'selected' : '' %>>Inactive</option>
                        </select>
                    </div>
                </div>

                <div class="table-container">
                    <table class="coupon-table">
                        <thead>
                            <tr>
                                <th>Used Count</th>
                                <th>Max Usage</th>
                                <th>Status</th>
                                <th>Offer</th>
                                <th>Min, Purchase</th>
                                <th>Max, Discount</th>
                                <th>Code</th>
                                <th>Exp, Date</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (coupons.length !== 0) { 
                                coupons.forEach ((coupon,index)=> { %>
                            <tr>
                                <td><%= coupon?.usedCount %></td>
                                <td><%= coupon?.maxUsage %></td>
                                <td>
                                    <% if (coupon?.status === true) { %>
                                        Active
                                    <% } else { %>
                                        Inactive
                                    <% } %>
                                </td>
                                <td>
                                    <% if (coupon?.type === "percentage") { %>
                                        <%= coupon?.discountValue %>%
                                    <% } else { %>
                                        ₹ <%= coupon?.discountValue.toLocaleString("en-IN") %>
                                    <% } %>
                                </td>
                                <td>₹ <%= coupon?.minPurchase.toLocaleString("en-IN") %></td>
                                <td>
                                    <%= typeof coupon?.maxDiscount === "number"
                                        ? "₹ " + coupon.maxDiscount.toLocaleString("en-IN")
                                        : "No Limit" 
                                    %>
                                </td>
                                <td class="code-val"><%= coupon?.code.toUpperCase() %></td>
                                <td><%= coupon?.expiryDate.toLocaleDateString("en-GB", {
                                    day: "2-digit",
                                    month: "short",
                                    year: "numeric" 
                                }) %></td>
                                <td class="text-right">
                                    <div class="actions-column">
                                        <button data-coupon='<%- JSON.stringify(coupon) %>' onclick="editCoupon(this)" class="icon-btn edit-btn"><i
                                                class="fa-regular fa-pen-to-square"></i></button>
                                        <button onclick="couponStatus('<%= coupon?._id %>','<%= coupon?.status === true ? false : true %>')" class="status-action-btn <%= coupon?.status === true ? 'block' : 'activate' %>-btn"><%= coupon?.status === true ? 'Block' : 'Activate' %></button>
                                    </div>
                                </td>
                            </tr>
                            <% })} %>
                        </tbody>
                    </table>
                    <% if (coupons.length === 0) { %>
                    <br><br>
                    <h1><pre>     No Coupons Found</pre></h1>
                <% } %>
                </div>

                <div class="pagination">
                    <div class="pagination">


                        <% if (currentPage > 1) { %>
                            <a style="text-decoration: none;" href="/admin/couponManagement?page=<%= currentPage - 1 %>

                                <% if (typeof search !== 'undefined') { %>&search=<%= search %><% } %>
                                <% if (typeof filter !== 'undefined') { %>&filter=<%= filter %><% } %>">

                                <button class="page-arrow">
                                    <i class="fa-solid fa-chevron-left"></i>
                                </button>

                            </a>
                        <% } %>

                        <%
                            const visiblePages = 3;
                            let start = currentPage;
                            let end = currentPage + visiblePages - 1;

                            if (end > totalPages) {
                                end = totalPages;
                                start = Math.max(1, totalPages - visiblePages + 1);
                            }
                        %>


                        <% for(let i = start; i <= end; i++) { %>
                            <a style="text-decoration: none;"  href="/admin/couponManagement?page=<%= i %>

                                <% if (typeof search !== 'undefined') { %>&search=<%= search %><% } %>
                                <% if (typeof filter !== 'undefined') { %>&filter=<%= filter %><% } %>">

                                <button class="page-num <%= currentPage === i ? 'active' : '' %>">
                                    <%= i %>
                                </button>
                            </a>
                        <% } %>


                        <% if (end < totalPages) { %>
                            <span>...</span>
                        <% } %>


                        <% if (currentPage < totalPages) { %>
                            <a style="text-decoration: none;" href="/admin/couponManagement?page=<%= currentPage + 1 %>

                                <% if (typeof search !== 'undefined') { %>&search=<%= search %><% } %>
                                <% if (typeof filter !== 'undefined') { %>&filter=<%= filter %><% } %>">

                                <button class="page-arrow">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </button>
                            </a>
                        <% } %>

                    </div> 
                </div>
            </section>
        </main>
    </div>

    <!-- UNIFIED COUPON MODAL -->
    <div id="couponModal" class="modal">
        <div class="modal-content right-side-modal">
            <div class="modal-header">
                <h2 id="modalTitle">Add Coupon</h2>
            </div>
            <form id="couponForm" >
                <div id="codeDiv" class="form-group">
                    <label for="couponCode">Coupon Code</label>
                    <input type="text" id="couponCode" class="form-control" autocomplete="off">
                    <p style="color: red;font-size: 13px;font-weight: normal;margin-top: 2px !important;display: none;">Code Required At Least 5 Characters</p>
                </div>
                <div id="discountTypeDiv" class="form-group dual-group">
                    <div class="half-group">
                        <label for="discountType">Discount Type</label>
                        <select id="discountType" class="form-control">
                            <option value="percentage">Percentage (%)</option>
                            <option value="flat">Flat Amount (₹)</option>
                        </select>
                    </div>
                    <p style="color: red;font-size: 13px;font-weight: normal;margin-top: 2px !important;display: none;">Discount Type Required</p>
                </div>
                <div id="discountValueDiv" class="form-group">
                    <label for="discountValue">Discount Value</label>
                    <input type="number" id="discountValue" class="form-control">
                    <p style="color: red;font-size: 13px;font-weight: normal;margin-top: 2px !important;display: none;">Discount value Required</p>
                </div>
                <div id="minPurchaseDiv" class="form-group">
                    <label for="minPurchase">Min , Purchase</label>
                    <input type="number" id="minPurchase" class="form-control">
                    <p style="color: red;font-size: 13px;font-weight: normal;margin-top: 2px !important;display: none;">Min Purchase Required</p>
                </div>
                <div  id="maxDiscountDiv" class="form-group">
                    <label for="maxDiscount">Max , Discount</label>
                    <input type="number" id="maxDiscount" class="form-control">
                    <p style="color: red;font-size: 13px;font-weight: normal;margin-top: 2px !important;display: none;">Max Discount Required</p>
                </div>
                <div id="expDateDiv" class="form-group">
                    <label for="expDate">Exp , Date</label>
                    <input type="date" id="expDate" class="form-control" min=""
                        onfocus="this.min = new Date().toLocaleDateString('en-CA', { timeZone: 'Asia/Kolkata' })">
                    <p style="color: red;font-size: 13px;font-weight: normal;margin-top: 2px !important;display: none;">Exp Date Required</p>
                </div>
                
                <div id="maxUsageDiv" class="form-group">
                    <label for="maxUsage">Max Usage</label>
                    <input type="number" id="maxUsage" class="form-control">
                    <p style="color: red;font-size: 13px;font-weight: normal;margin-top: 2px !important;display: none;">Max Usage Required</p>
                </div>

                <div class="modal-actions">
                    <button type="button" class="btn-cancel" id="cancelModal">Cancel</button>
                    <button type="submit" class="btn-submit green-btn" id="submitBtn">Add</button>
                </div>
            </form>
        </div>
    </div>

    <script src="/js/admin/couponManagement.js"></script>
</body>

</html>