<link rel="stylesheet" href="/css/admin/orderDetails.css">

<div class="page-wrapper">
    <header class="top-nav">
        <div class="nav-left">
            <div class="logo-icon"><i class="fa-solid fa-shopping-bag"></i></div>
            <h1 class="nav-title">Order Details</h1>
        </div>
        
    </header>

    <main class="main-content">
        <div class="order-header">
            <div class="order-info-left">
                <div class="order-title-row">
                    <h2 class="order-id"><%= order.orderId %></h2>
                   
                </div>
                 <p class="order-date">Placed on 
                    <%= new Date(order.createdAt).toLocaleDateString("en-US",{
                        year : "numeric",
                        month : "long",
                        day : "numeric"
                    }) %>
                </p> 
            </div>
             <div class="order-info-right">
                <!-- <button class="btn btn-outline">Download Invoice</button> -->
                <button onclick="redirectOrders()" class="btn btn-primary"><-- Orders</button>
            </div>
        </div>






        <% if ( orderItem.status === 'cancelled' ) { %>
        <div class="return-alert">
            <div class="alert-icon">
                <i class="fa-solid fa-arrow-turn-down fa-rotate-90"></i>
            </div>
            <% if(orderItem.cancelReason){ %>
                <div class="alert-content">
                    <h3>Cancellation Details</h3>
                    <h5><%= orderItem.cancelReason.replace(/-/g, " ").replace(/^./, c => c.toUpperCase()) %></h5>
                    <p><%= orderItem.cancelDescription.replace(/-/g, " ").replace(/^./, c => c.toUpperCase()) %></p>
                    <!-- <a href="#" class="alert-link">View Return Policy <i class="fa-solid fa-arrow-right"></i></a> -->
                </div>
            <% } else { %>
                <div class="alert-content">
                    <h3>Cancellation Details</h3>
                    <h5>Cancelled By Admin .. There Will Be No Details</h5>
                    <!-- <a href="#" class="alert-link">View Return Policy <i class="fa-solid fa-arrow-right"></i></a> -->
                </div>
            <% } %>
        </div>


        <% } else if (orderItem.returnRequest.status) { %>
            <div class="return-alert">
            <div class="alert-icon">
                <i class="fa-solid fa-arrow-turn-down fa-rotate-90"></i>
            </div>
            <% if (orderItem.returnRequest.status === 'pending') { %>
                <div class="alert-content">
                    <h3>Requested For Return</h3>
                    <h5><%= orderItem.returnRequest.reason.replace(/-/g, " ").replace(/^./, c => c.toUpperCase()) %></h5>
                    <p><%= orderItem.returnRequest.description %></p>
                </div>
                <div class="alert-actions">
                    <button class="btn btn-primary" id="schedulePickupBtn"><i class="fa-solid fa-truck"></i> Schedule
                         Pickup</button>
                    <button onclick="rejectReturnRequest('<%= order._id %>','<%= orderItem._id %>')" class="btn btn-white"><i class="fa-solid fa-xmark"></i> Reject Return</button>
                </div>


            <% } else if (orderItem.returnRequest.status === 'approved') { %>
                <div class="alert-content">
                    <h3>Approved Return Details  .. <%= orderItem.returnRequest.pickUpDate ? orderItem.returnRequest.pickUpDate.toLocaleString("en-IN") : "Date Is Pending.." %></h3>
                    <h5><%= orderItem.returnRequest.reason.replace(/-/g, " ").replace(/^./, c => c.toUpperCase()) %></h5>
                    <p><%= orderItem.returnRequest.description %></p>
                    
                </div>

            <% } else if (orderItem.returnRequest.status === 'rejected') { %>
                <div class="alert-content">
                    <h3>Rejected Return Details  ..</h3>
                    <h5><%= orderItem.returnRequest.reason.replace(/-/g, " ").replace(/^./, c => c.toUpperCase()) %></h5>
                    <p><%= orderItem.returnRequest.description %></p>
                    
                </div>
            <% } else if (orderItem.returnRequest.status === 'sheduled') {  %>
                <div class="alert-content">
                    <h3> Pick Up Sheduled For <%= orderItem.returnRequest.pickUpTime %></h3>
                    <h5><%= orderItem.returnRequest.reason.replace(/-/g, " ").replace(/^./, c => c.toUpperCase()) %></h5>
                    <!-- <p><%= orderItem.returnRequest.description %></p> -->
                    
                </div>
            <% } %>

        </div>
        <% } %>






        <div class="content-grid">
            <div class="left-column">
                <div class="card items-card">
                    <div class="card-header">
                        <h3>Order Item</h3>
                    </div>
                    <div class="item-list">
                    
                        <div class="item">
                            <div class="item-img-box">
                                
                                <img src="<%= orderItem.productImage %>" style="width:100%; height:100%; object-fit:cover; ;">
                            </div>
                            <div class="item-details">
                                <h4><%= orderItem.productName %></h4>
                                <% orderItem.attributes.forEach ( (attr,index) => { %>
                                <% if (attr.value) { %>
                                    <p class="specs"><% if (attr.key == "color") { %>
                                    <%= attr.key %> : <%= orderItem.colorName %>
                                <% } else { %>
                                    <%= attr.key.toUpperCase() %> : <%= attr.value %>
                                <% } %>
                                </p>
                                <% } %>
                                <% }) %>
                                <br>
                            </div>
                            <div class="item-price-qty">
                                <span class="price text-orange">₹ <%= orderItem.total.toLocaleString("en-IN") %></span>
                                <span class="qty">Qty: <%= orderItem.quantity %></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row-cards">
                    <div class="card info-card">
                        <div class="card-header-small">
                            <i class="fa-solid fa-location-dot text-orange"></i>
                            <span>Shipping Address</span>
                        </div>
                        <div class="card-body">
                            <strong class="person-name"><%= order?.shippingAddress?.fullName.toUpperCase() %></strong>
                            <p class="address-lines"><%= order?.shippingAddress.address.toUpperCase() %>
                                <br>
                                <br>
                                <%= order?.shippingAddress.state.toUpperCase() %>, <%= order?.shippingAddress.city.toUpperCase() %> <%= order?.shippingAddress.pincode %>
                                <br>
                                <br>
                                INDIA
                            </p>
                            <p class="phone"><i class="fa-solid fa-phone"></i>+91 <%= order?.shippingAddress.phone %></p>

                            


                        </div>
                    </div>

                    <div class="card info-card payment-card">
                        <div class="card-header-small">
                            <i class="fa-solid fa-money-bill text-orange"></i>
                            <span>Payment Method</span>
                        </div>
                        <div class="card-body">
                            <div>
                                <% if(order.paymentMethod === "cod") { %>

                                <div class="visa-row">
                                    <i class="fa-solid fa-money-bill-wave"></i>
                                    <div>
                                        <strong>Cash On Delivery</strong>
                                
                                    </div>
                                </div>

                                <% } else if(order.paymentMethod === "razorpay") { %>

                                <div class="visa-row">
                                    <img src="/images/razorpay-logo.png" width="40">
                                    <div>
                                        <strong>Razorpay</strong>
                                        <p>Online Payment</p>
                                    </div>
                                </div>

                                <% } else if(order.paymentMethod === "wallet") { %>

                                <div class="visa-row">
                                    <i class="fa-solid fa-wallet"></i>
                                    <div>
                                        <strong>Wallet</strong>
                                        <p>Paid using wallet balance</p>
                                    </div>
                                </div>

                                <% } %>
                            </div>
                            <div class="status-rows">
                                <div class="status-row">
                                    <span class="status-lbl">PAYMENT STATUS</span>
                                    <span class="badge badge-<%= orderItem.paymentStatus %>-small"><%= orderItem.paymentStatus %></span>
                                </div>
                                <div class="status-row">
                                    <span class="status-lbl">ORDER STATUS</span>
                                    <span class="badge badge-<%= orderItem.status %>-small"><%= orderItem.status === 'ofd' ? 'OUT FOR DELIVERY' : orderItem.status.toUpperCase() %></span>
                                </div>
                            </div>
                        </div>
                        <div class="billing-section">
                            <span class="billing-title">BILLING ADDRESS</span>
                            <p class="billing-desc">Same as shipping address</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right-column">
                <div class="card summary-card">
                    <h3>Financial Summary</h3>
                    <div class="summary-rows">
                        <div class="summary-row"><span>Subtotal</span><span>₹ <%= orderItem.total.toLocaleString("en-IN") %></span></div>
                        <div class="summary-row"><span>Shipping</span><span>
                            <% if(order.shippingCharge === 0) { %>
                            Free
                            <% } else { %>
                                ₹ <%= order.shippingCharge.toLocaleString("en-IN") %>
                            <% } %>
                        </span></div>
                         <div class="summary-row">
                            <!-- <span>Taxes (8.5%)</span><span>$53.38</span> -->
                        </div>
                        <div class="summary-row text-orange">
                            <span>Discound (<%= order?.couponCode %>)</span>
                            <span>-₹<%= orderItem?.couponDiscount.toLocaleString("en-IN") %></span> 
                        </div>
                    </div>
                    <div class="summary-total border-top">
                        <span class="total-label">Total</span>
                        <div class="total-amount">
                            <strong>
                                <% let finalAmount = orderItem?.total - orderItem?.couponDiscount %>
                                ₹ <%= finalAmount.toLocaleString("en-IN") %>
                            </strong>
                            
                        </div>
                    </div>
                </div>

               
            </div>
        </div>
    </main>

    <footer class="page-footer">
        
    </footer>
</div>
<!-- Schedule Pickup Modal -->
<div class="modal-overlay" id="pickupModalOverlay">
    <div class="modal-box pickup-modal">
        <button class="modal-close" id="closeModalBtn"><i class="fa-solid fa-xmark"></i></button>
        <div class="modal-header-pickup">
            <div class="modal-icon pickup-icon">
                <i class="fa-solid fa-truck"></i>
            </div>
            <div>
                <h3 class="modal-title">Schedule Return Pickup</h3>
                <p class="modal-desc">Choose a convenient time for our courier to collect your return items. Ensure
                    items are packaged and ready.</p>
            </div>
        </div>

        <div class="modal-form-row">
            <div id="dateDiv" class="form-group flex-1">
                <label class="form-label">SELECT DATE</label>
                <div class="select-wrapper">
                    
                    <input type="date" class="form-select" id="pickupDate" required>
                </div>
                <p style="color: red;font-size: 13px;font-weight: normal;margin-top: 2px !important;display: none;">Please Select A Date</p>
            </div>
            <div id="timeDiv" class="form-group flex-1">
                <label class="form-label">SELECT TIME WINDOW</label>
                <div class="select-wrapper">
                    <select id="pickupWindow" class="form-select">
                        <option value="09:00">09:00 AM-12:00 PM</option>
                        <option value="12:00">12:00 PM-03:00 PM</option>
                        <option value="15:00">03:00 PM-06:00 PM</option>
                    </select>
                    <i class="fa-solid fa-chevron-down select-icon"></i>
                </div>
                <p style="color: red;font-size: 13px;font-weight: normal;margin-top: 2px !important;display: none;">Please Select A Time</p>
            </div>
        </div>

        <button onclick="confirmPickupSlot('<%= order._id %>','<%= orderItem._id %>')" class="btn btn-primary w-100 modal-submit">Confirm Pickup Slot</button>
    </div>
</div>

<script src="/js/admin/orderDetails.js">
</script>