<link rel="stylesheet" href="/css/user/address.css">



<header>
    <div class="header-container">
        <div class="logo">
            <div class="logo-icon"><i class="fa-solid fa-check"></i></div>
            <div class="logo-text">
                <span class="brand">VELOCE</span>
                <span class="sub-brand">GAMING</span>
            </div>
        </div>

        <nav>
            <a href="/">Home</a>
            <a href="/shop">Shop</a>
        </nav>

        <div class="header-icons">
            <a href="/wishlist"><i class="fa-regular fa-heart"></i></a>
            <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a style="text-decoration: none;" href="/profile">
                <div class="profile-circle">
                <% if (user.profileImage){ %>
                        <img src="<%= user.profileImage %>" 
                           style="width:100%; height:100%; object-fit:cover; border-radius:50%;">
                    <% }  else { %>
                    <%= user.name.charAt(0).toUpperCase() %> 
                    <% } %> 
            </div>
        </a>
        </div>
    </div>
</header>

<main class="address-container">
    <div class="address-header">
        <h2>Saved Addresses</h2>
        <button onclick="addAddress()" class="btn-add-address" >+ Add New Address</button>
    </div>

    <div class="address-table-container">
        <table class="address-table">
            <tbody>
                <% user.address.slice().reverse().forEach((obj,index) => { %>
                <tr>
                    <td class="col-indicator">
                        <div class="cyan-dot"></div>
                    </td>
                    <td class="col-details">
                        <h3><%= obj.fullName %></h3>
                        <p><%= obj.address %>  ,  <%= obj.state %>  ,  <%= obj.city %>  --  <%= obj.pincode %> -------- , Address Type  : <%= obj.type %></p>
                    </td>
                    <td class="col-action">
                        <button class="btn-edit" onclick="editAddress(`<%= obj._id %>`)">Edit</button>
                        <button onclick="deleteAddress(`<%= obj._id %>`)" class="btn-remove">Remove</button>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <% if (typeof swalMessage !== "undefined" && swalMessage) { %>
    <span id="swalMessage" style="display:none;">
        <%= swalMessage %>
    </span>
    <% } %>
    <div class="back-button-container">
        <a href="/profile" class="btn-back">
            <i class="fa-solid fa-chevron-left"></i> Back
        </a>
    </div>
</main>
<div class="mobile-bottom-nav">
        <a href="/" class="nav-item">
            <i class="fa-solid fa-house"></i>
            <span>Home</span>
        </a>
        <a href="#" class="nav-item">
            <i class="fa-solid fa-bag-shopping"></i>
            <span>Shop</span>
        </a>
        <a href="#" class="nav-item">
            <i class="fa-solid fa-cart-shopping"></i>
            <span>Cart</span>
        </a>
        <a href="#" class="nav-item">
            <i class="fa-solid fa-heart"></i>
            <span>Wishlist</span>
        </a>
        <a href="/profile" class="nav-item active">
            <i class="fa-solid fa-user"></i>
            <span>Profile</span>
        </a>
    </div>
<script>

    let messageElement = document.getElementById("swalMessage");

    if (messageElement && messageElement.innerText.trim() !== "") {
    swal(messageElement.innerText);
    }

    
    function deleteAddress(id) {
        if (confirm("Are You Sure You Want To Delete Address")){
            window.location.href = `/address/delete?id=${id}`
        }
    }

    function editAddress(id) {
        
        //window.location.href = `/editAddress?from=address&id=${id}`
        window.location.href = `/editAddress?id=${id}&from=address`
    }
    function addAddress() {
        
        //window.location.href = `/editAddress?from=address&id=${id}`
        window.location.href = `/addAddress?from=address`
    }
</script>