<link rel="stylesheet" href="/css/user/addAddress.css">


<div id="admin-spinner" class="spinner-overlay" style="display:none;">
    <div class="spinner"></div>
</div>

<!-- Header -->
<header>
    <div class="header-container">
        <div class="logo">
            <div class="logo-icon"><i class="fa-solid fa-check"></i></div>
            <div class="logo-text">
                <span class="brand">VELOCE</span>
                <span class="sub-brand">GAMING</span>
            </div>
        </div>

        <nav>
            <a href="/">Home</a>
            <a href="/shop">Shop</a>
        </nav>

        <div class="header-icons">
            <a href="#"><i class="fa-regular fa-heart"></i></a>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            <div class="profile-circle">
                <% if (user.profileImage){ %>
                        <img src="<%= user.profileImage %>" 
                           style="width:100%; height:100%; object-fit:cover; border-radius:50%;">
                    <% }  else { %>
                    <%= user.name.charAt(0).toUpperCase() %> 
                    <% } %> 
            </div>
        </div>
    </div>
</header>

<main class="add-address-container">
    <h2 class="main-heading">Edit Address</h2>
    <% if (typeof message !== "undefined" && message) { %>
            <p style="color:red;"><%= message %></p>
        <% } %>
    <div class="form-card">
        <div class="form-header">
            <h3>Edit Address</h3>
            <a onclick="window.location.replace('/address'); return false;" class="close-icon"><i class="fa-solid fa-xmark"></i></a>
        </div>

        <form id="registerForm" class="address-form" action="/editAddress?id=<%= address._id %>" method="post">
            
            <div id="nameDiv" class="form-group full-width">
                <label>Name</label>
                <input value="<%= address.fullName %>" name="name" id="name" type="text" placeholder="Name">
                <p style="color: red;font-size: 13px;font-weight: normal;margin-top: 2px !important;display: none;">Name Requierd At Lease 3 letters</p>
            </div>

            <div  class="form-row">
                <div id="phoneDiv" class="form-group">
                    <label>Phone (+91)</label>
                    <input value="<%= address.phone %>" name="phone" id="phone" type="text" placeholder="Number">
                    <p style="color: red;font-size: 13px;font-weight: normal;margin-top: 2px !important;display: none;">Phone Number Is Required</p>
                </div>
                <div id="pincodeDiv" class="form-group">
                    <label>Pincode</label>
                    <input value="<%= address.pincode %>" name="pincode" id="pincode" type="text" placeholder="PIN">
                    <p style="color: red;font-size: 13px;font-weight: normal;margin-top: 2px !important;display: none;">Pincode Is Required</p>
                </div>
            </div>

            <div id="addressDiv" class="form-group full-width">
                <label>Street Address</label>
                <input value="<%= address.address %>" name="address" id="address" type="text" placeholder="Address">
                <p style="color: red;font-size: 13px;font-weight: normal;margin-top: 2px !important;display: none;">Street Address Is Required</p>
            </div>

            <div class="form-row">
                <div id="stateDiv" class="form-group">
                    <label>State</label>
                    <input value="<%= address.state %>" name="state" id="state" type="text" placeholder="State" class="state-input">
                    <p style="color: red;font-size: 13px;font-weight: normal;margin-top: 2px !important;display: none;">State Is Required</p>
                </div>
                <div id="cityDiv" class="form-group">
                    <label>District</label>
                    <input value="<%= address.city %>" name="city" id="city" type="text" placeholder="District">
                    <p style="color: red;font-size: 13px;font-weight: normal;margin-top: 2px !important;display: none;">District Is Required</p>
                </div>
            </div>

            <div class="form-group full-width">
                <label>Address Type</label>
                
                <select name="type" id="type" class="address-type-select">
                    <option value="Home"
                        <%= address && address.addressType === "Home" ? "selected" : "" %>>
                        Home
                    </option>
                    <option value="Work"
                        <%= address && address.addressType === "Work" ? "selected" : "" %>>
                        Work
                    </option>
                 </select>
            </div>
            

            <div class="form-actions">
                <a onclick="window.location.replace('/address'); return false;"><button type="button" class="btn-cancel" >Cancel</button></a>
                <button type="submit" class="btn-save">Save Changes</button>
            </div>
        </form>
    </div>
    <% if (typeof swalMessage !== "undefined" && swalMessage) { %>
    <span id="swalMessage" style="display:none;">
        <%= swalMessage %>
    </span>
    <% } %>
</main> 


<!-- Mobile Bottom Navbar -->
    <div class="mobile-bottom-nav">
        <a href="../home/index.html" class="nav-item">
            <i class="fa-solid fa-house"></i>
            <span>Home</span>
        </a>
        <a href="#" class="nav-item">
            <i class="fa-solid fa-bag-shopping"></i>
            <span>Shop</span>
        </a>
        <a href="#" class="nav-item">
            <i class="fa-solid fa-cart-shopping"></i>
            <span>Cart</span>
        </a>
        <a href="#" class="nav-item">
            <i class="fa-solid fa-heart"></i>
            <span>Wishlist</span>
        </a>
        <a href="../profile/index.html" class="nav-item active">
            <i class="fa-solid fa-user"></i>
            <span>Profile</span>
        </a>
    </div>
    
<script src="/js/user/editAddress.js"></script>