<link rel="stylesheet" href="/css/user/orderDetails.css">



<header>
    <% const itemStatus = ["placed","shipped","ofd","delivered"]
    if (orderItem.status){
        statusIndex = itemStatus.indexOf(orderItem.status)
    }
    %>
    
    <div class="header-container">
        <div class="logo">
            <div class="logo-icon"><i class="fa-solid fa-check"></i></div>
            <div class="logo-text">
                <span class="brand">VELOCE</span>
                <span class="sub-brand">GAMING</span>
            </div>
        </div>

        <nav>
            <a href="/">Home</a>
            <a href="/shop">Shop</a>
        </nav>
        <!-- <div class="search-bar">
            <input type="text" id="desktopSearchInput" placeholder="What are you looking for?">
            <div class="search-icons">
                <i class="fa-solid fa-circle-xmark clear-search" id="clearDesktopSearchBtn"></i>
                <i class="fa-solid fa-magnifying-glass" id="searchIconDesktop"></i>
            </div>
        </div> -->
        <div class="search-bar">
            <input type="text" placeholder="What are you looking for?">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>

        <div class="header-icons">
            <a href="/wishlist"><i class="fa-regular fa-heart"></i></a>
            <a style="text-decoration: none;" href="/cart" class="cart-icon-wrapper">
                <i class="fa-solid fa-cart-shopping"></i>
                <% if (Number(cartCount) > 0) { %>
                    <span class="cart-badge"><%= cartCount %></span>
                <% } %>
               </a>
            <div class="user-menu">
                <% if (user) { %>
                    
                    <a style="text-decoration: none;" href="/profile">
                        <div class="profile-circle">
                        <% if (user.profileImage){ %>
                        <img src="<%= user.profileImage %>" 
                           style="width:100%; height:100%; object-fit:cover; border-radius:50%;">
                    <% }  else { %>
                    <%= user.name.charAt(0).toUpperCase() %> 
                    <% } %> 
                    </div>
                </a>
                <% } else { %>
                    <div style="display: none;" class="profile-circle"></div>
                <% } %>
            </div>
        </div>
    </div>
</header>

<main class="container">
    
    <nav class="breadcrumb">
        <a href="/">Home</a>
        <span>/</span>
        <a href="/profile">Profile</a>
        <span>/</span>
        <a href="/orderHistory">My Orders</a>
        <span>/</span>
        <span><%= order.orderId %></span>
    </nav>

   
    <div class="order-header">
        <div class="order-title">
            <h1>Order <%= order.orderId %></h1>
            <p class="order-meta">Placed on
                 <%= new Date(order.createdAt).toLocaleDateString("en-US",{
                        year : "numeric",
                        month : "long",
                        day : "numeric"
                    }) %>
            | Tracking ID: <span
                    class="tracking-id"><%= order.orderId %></span></p>
        </div>
        <div class="header-btns">
            <% if (orderItem.status === 'delivered') { %>
            <a style="text-decoration: none;" href="/downloadInvoice?orderId=<%= order._id %>&itemId=<%= orderItem._id %>">
            <button class="btn btn-outline">
                <i class="fa-solid fa-download"></i> Download Invoice
            </button></a>
            <% } %>
            <a style="text-decoration: none;" href="/orderHistory"><button class="btn btn-primary">
                <i class="fa-solid fa-box"></i> <-- Back To Orders
            </button></a>
        </div>
    </div>

    
    <div class="status-card">
        <div class="progress-line">
            <div class="progress-fill" id="status-progress"></div>
        </div>
        <div class="status-steps">
            <div class="step <%= (orderItem.status === 'cancelled' || orderItem.status === 'returned') ? '' : statusIndex == 3 ? 'completed' : statusIndex >= 0 ? 'active' : '' %> ">
                <div class="step-icon"><i class="fa-solid fa-box-open"></i></div>
                <div class="step-info">
                    <span class="step-label">Order Placed</span>
                    <!-- <span class="step-date">Oct 24, 2023</span>-->
                </div>
            </div>
            <div class="step <%= (orderItem.status === 'cancelled' || orderItem.status === 'returned') ? '' : statusIndex == 3 ? 'completed' : statusIndex >= 1 ? 'active' : '' %>">
                <div class="step-icon"><i class="fa-solid fa-truck"></i></div>
                <div class="step-info">
                    <span class="step-label">Shipped</span>
                    <!-- <span class="step-date">Oct 25, 2023</span> -->
                </div>
            </div>
            <div class="step <%= (orderItem.status === 'cancelled' || orderItem.status === 'returned') ? '' : statusIndex == 3 ? 'completed' : statusIndex >= 2 ? 'active' : '' %>">
                <div class="step-icon"><i class="fa-solid fa-truck-fast"></i></div>
                <div class="step-info">
                    <span class="step-label">Out For Delivary</span>
                    <!-- <span class="step-date">Oct 26, 2023</span> -->
                </div>
            </div>
            <div class="step <%= (orderItem.status === 'cancelled' || orderItem.status === 'returned') ? '' : statusIndex >= 3 ? 'completed' : '' %>">
                <div class="step-icon"><i class="fa-solid fa-<%= (orderItem.status === 'cancelled' ? 'cancel' : orderItem.status === 'returned' ? 'close' : 'house')%>"></i></div>
                <div class="step-info">
                    <span class="step-label"><%= (orderItem.status === 'cancelled' ? 'Cancelled' : orderItem.status === 'returned' ? 'Returned' : 'Delivered')%></span>
                    <!-- <span class="step-date">Expected Oct 28</span> -->
                </div>
            </div>
        </div>
        <!-- <div class="status-alert">
            <i class="fa-solid fa-circle-info"></i>
            <p>Your package is currently in transit between the Chicago distribution hub and the local delivery
                facility.</p>
        </div> -->
    </div>

    
    <div class="order-grid">
        <div class="left-col">
            <div class="card">
                <h2 class="card-title">Item Ordered</h2>
                <div class="item-card">
                    <div class="item-img">
                        <img src="<%= orderItem.productImage %>" style="width:100%; height:100%; object-fit:cover; ;">
                    </div>
                    <div class="item-details">
                        <h3 class="item-name"><%= orderItem.productName %></h3>
                        <% orderItem.attributes.forEach ( (attr,index) => { %>
                            <% if (attr.value) { %>
                                <p class="specs"><% if (attr.key == "color") { %>
                                   <%= attr.key %> : <%= orderItem.colorName %>
                                <% } else { %>
                                    <%= attr.key.toUpperCase() %> : <%= attr.value %>
                                <% } %>
                                </p>
                            <% } %>
                        <% }) %>
                        <br>
                        <div class="item-price-row">
                            <span class="item-qty">Qty: <%= orderItem.quantity %></span>
                            <span class="item-price" style="float: right;">₹ <%= orderItem.price.toLocaleString("en-IN") %></span>
                        </div>
                        <!-- <p style="color: var(--primary-color); font-size: 0.85rem; font-weight: 600; margin-top: 10px;">
                            Free Apple Music (3 mo)</p> -->
                    </div>
                </div>
                
                <!-- <div class="item-meta">
                    <div class="meta-box">
                        <div class="meta-icon"><i class="fa-solid fa-box"></i></div>
                        <div class="meta-text">
                            <label>Shipping Carrier</label>
                            <p>UPS Express Saver</p>
                        </div>
                    </div>
                    <div class="meta-box">
                        <div class="meta-icon"><i class="fa-solid fa-calendar"></i></div>
                        <div class="meta-text">
                            <label>Estimated Delivery</label>
                            <p>Saturday, Oct 28, 2023</p>
                        </div>
                    </div>
                </div> -->
            </div>

            <div class="info-columns">
                <div class="card">
                    <h2 class="card-title"><i class="fa-solid fa-location-dot"
                            style="color: var(--primary-color); margin-right: 10px;"></i> Shipping Address</h2>
                    <div class="info-content">
                        <p class="name"><%= order?.shippingAddress.fullName.toUpperCase() %></p>
                        <p><%= order?.shippingAddress.address.toUpperCase() %></p>
                        <p><%= order?.shippingAddress.state.toUpperCase() %>, <%= order?.shippingAddress.city.toUpperCase() %> <%= order?.shippingAddress.pincode %></p>
                        <p>INDIA</p>
                        <p>+91 <%= order?.shippingAddress.phone %></p>
                    </div>
                </div>
                <div class="card">
                    <h2 class="card-title"><i class="fa-solid fa-credit-card"
                            style="color: var(--primary-color); margin-right: 10px;"></i> Payment Method</h2>
                    <div class="payment-method-box">

                     <% if(order.paymentMethod === "cod") { %>

                        <div class="payment-method">
                            <i class="fa-solid fa-money-bill-wave"></i>
                            <div>
                                <strong>Cash On Delivery</strong>
                                <p>Pay when product arrives</p>
                            </div>
                        </div>

                    <% } else if(order.paymentMethod === "Razorpay") { %>

                    <div class="payment-method">
                        <img src="/images/razorpay-logo.png" width="40">
                        <div>
                            <strong>Razorpay</strong>
                            <p>Online Payment</p>
                        </div>
                    </div>

                    <% } else if(order.paymentMethod === "Wallet") { %>

                    <div class="payment-method">
                        <i class="fa-solid fa-wallet"></i>
                        <div>
                            <strong>Wallet</strong>
                            <p>Paid using wallet balance</p>
                        </div>
                    </div>

                    <% } %>

                    </div>
                    <div class="info-content">
                        <label
                            style="font-size: 0.75rem; font-weight: 700; color: var(--text-muted); text-transform: uppercase;">Billing
                            Address</label>
                        <p><-- Same as shipping address</p>
                        <span class="status-lbl">PAYMENT STATUS</span>
                                    <span class="badge badge-<%= orderItem.paymentStatus %>-small"><%= orderItem.paymentStatus.toUpperCase() %></span>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="right-col">
            <div class="card">
                <h2 class="card-title">Order Summary</h2>
                <div class="summary-body">
                    <div class="summary-row">
                        <span>Subtotal</span>
                        <span>₹ <%= orderItem.total.toLocaleString("en-IN") %></span>
                    </div>
                    <div class="summary-row">
                        <span>Shipping</span>
                        <span class="free">
                            <% if(order.shippingCharge === 0) { %>
                            Free
                            <% } else { %>
                                ₹ <%= order.shippingCharge.toLocaleString("en-IN") %>
                            <% } %>
                        </span>
                    </div>
                    <div class="summary-row">
                        <span>Discound (<%= order?.couponCode %>)</span>
                        <span>-₹<%= orderItem?.couponDiscount.toLocaleString("en-IN") %></span>
                    </div>
                    <div class="summary-row total">
                        <span>Total</span>
                        <span>
                            <% let finalAmount = orderItem?.total - orderItem?.couponDiscount %>
                            ₹ <%= finalAmount.toLocaleString("en-IN") %>
                        </span>
                    </div>
                </div>
            </div>

           <!-- <div class="card" style="background: #F8F9FA; border: 1px solid #EEE;">
                <div style="display: flex; gap: 15px;">
                    <i class="fa-solid fa-shield-halved" style="color: var(--primary-color); font-size: 1.5rem;"></i>
                    <div>
                        <h4 style="font-weight: 700; margin-bottom: 5px;">Purchase Protected</h4>
                        <p style="font-size: 0.8rem; color: var(--text-muted);">Your purchase is covered by
                            TechStore's 1-year limited warranty.</p>
                    </div>
                </div>
            </div> -->

            <% if ((statusIndex == 3 || statusIndex < 1) && orderItem.status != "returned" && orderItem.status != "cancelled" && orderItem?.returnRequest.status != "approved" ) { %>
            <div class="help-card">
                <% if (orderItem.status === "delivered") { %>
                    <% if (orderItem?.returnRequest.status === "pending") { %>
                <h3>Requested For Return</h3>
                <p>Please Wait We Will Update It..</p>
                    <% } else if (orderItem?.returnRequest.status === "sheduled") { %>
                <h3>We Have Approved For Return</h3>
                <p>We will pick up your product at the time ... Don't worry please wait</p>
                    <% } else if (orderItem?.returnRequest.status === "rejected") { %>
                <h3>Return Request Rejected </h3>
                    <% } else { %>
                        <h3>Want To Return ?</h3>
                        <p>You can request a return after delivery within the return period, and the refund will be processed after verification.</p>
                        <button class="btn btn-outline" id="openSupportModal"
                            style="width: 100%; justify-content: center; background: white; border-radius: 12px; padding: 1rem;">
                            Request Return
                        </button>
                    <% } %>
                <% } else { %>
                <h3>Want To Cancel ?</h3>
                <p>You can cancel this order before it is shipped; the refund will be processed after cancellation.</p>
                <button class="btn btn-outline" id="openSupportModal"
                    style="width: 100%; justify-content: center; background: white; border-radius: 12px; padding: 1rem;">
                    Request Cancel
                </button>
                <% } %>
            </div>
            <% } %>
        </div>
    </div>
</main>

 
    <div id="supportModal" class="modal-overlay">
        <div class="modal-content">
            <div class="modal-header">
                <% if (orderItem.status === "delivered") { %>
                <h2>Request Return</h2>
                <% } else { %>
                <h2>Request Cancel</h2>
                <% } %>
                <button class="close-modal" id="closeModalIcon">&times;</button>
            </div>
            <div class="modal-body">
                <p>Please provide details about your request or any other issues.</p>
                <form id="supportForm">
                    <div id="reasonDiv" class="form-group">
                        <% if (orderItem.status === "delivered") { %>
                        <label for="returnReason">Return Request Reason</label>
                        <select id="returnReason" name="returnReason" >
                            <option value="" disabled selected>Select a reason</option>
                            <option value="defective">Defective Product</option>
                            <option value="wrong-item">Wrong Item Received</option>
                            <option value="not-as-described">Not as Described</option>
                            <option value="changed-mind">Changed Mind</option>
                            <option value="other">Other</option>
                        </select>
                        
                        <% } else { %>
                        <label for="returnReason">Cancel Request Reason</label>
                        <select id="returnReason" name="returnReason">
                            <option value="" disabled selected>Select a reason</option>
                            <option value="ordered-by-mistake">Ordered by mistake</option>
                            <option value="found-a-better-price-elsewhere">Found a better price elsewhere</option>
                            <option value="delivery-is-taking-too-long">Delivery is taking too long</option>
                            <option value="changed-my-mind">Changed my mind</option>
                            <option value="other">Other</option>
                        </select>
                        <% } %>
                        <p style="color: red;font-size: 13px;font-weight: normal;margin-top: 2px !important;display: none;">Please Choose A Valid Reason</p>
                    </div>
                    <div id="descriptionDiv" class="form-group">
                        <label for="returnDescription">Description</label>
                        <textarea id="returnDescription" name="returnDescription" rows="4"
                            placeholder="Describe your issue in detail..." ></textarea>
                            <p style="color: red;font-size: 13px;font-weight: normal;margin-top: 2px !important;display: none;">Description is required min 10 Letters</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancel" id="cancelModal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit Request</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


<script>
    

    const status = "<%= orderItem.status %>"
    const orderItemId = '<%= orderItem._id %>'
    const orderId = '<%= order._id %>'
    const progressMap = {
        placed: 7,
        shipped: 36,
        ofd: 67,
        delivered: 100,
        cancelled : 100,
        returned : 100
    }

    document.addEventListener("DOMContentLoaded",()=>{

        const progress = document.getElementById("status-progress")
        
        if(progressMap[status]){
            progress.style.width = progressMap[status] + "%"
            if (status === 'delivered') {
                progress.style.background = 'green'
            }
            if (status === 'cancelled' || status === 'returned') {
                progress.style.background = '#8F0F1A'
            }
        }

        // Modal Logic
            const modal = document.getElementById('supportModal');
            const openBtn = document.getElementById('openSupportModal');
            const closeIcon = document.getElementById('closeModalIcon');
            const cancelBtn = document.getElementById('cancelModal');
            const form = document.getElementById('supportForm');

            const openModal = () => {
                modal.classList.add('active');
                document.body.style.overflow = 'hidden'
            };

            const closeModal = () => {
                modal.classList.remove('active')
                document.body.style.overflow = ''
            };

            openBtn.addEventListener('click', openModal)
            closeIcon.addEventListener('click', closeModal)
            cancelBtn.addEventListener('click', closeModal)

            // Close modal on click outside
            window.addEventListener('click', (e) => {
                if (e.target === modal) {
                    closeModal();
                }
            })

            // Form Submission
            form.addEventListener('submit', async (e) => {
                e.preventDefault();

                let isValid = true
                const descriptionDiv = document.getElementById("descriptionDiv")
                const reasonDiv = document.getElementById("reasonDiv")
                const reason = document.getElementById('returnReason').value
                const description = document.getElementById('returnDescription').value.trim()

                if(!reason){
                    reasonDiv.querySelector('select').style.border='1px solid red'
                    reasonDiv.querySelector('p').style.display='block'
                    isValid = false
                }else{
                    reasonDiv.querySelector('select').style.border='1px solid gray'
                    reasonDiv.querySelector('p').style.display='none'
                }
                if(!description || description.length < 10){
                    descriptionDiv.querySelector('textarea').style.border='1px solid red'
                    descriptionDiv.querySelector('p').style.display='block'
                    isValid = false
                }else{
                    descriptionDiv.querySelector('textarea').style.border='1px solid gray'
                    descriptionDiv.querySelector('p').style.display='none'
                }

                if (isValid) {
                    let url
                    if (status === "delivered") {
                        url = '/orderDetails/return'
                    } else {
                        url = '/orderDetails/cancel'
                    }

                    const formData = new FormData()

                    //formData.append("orderId",orderId)
                    //formData.append("orderItemId",orderItemId)
                    //formData.append("reason",reason)
                    //formData.append("description",description)
                    console.log("ID "+orderId+" itemID "+orderItemId+" reason "+reason+" description "+description)
                    const response = await fetch(url,{
                        method : 'post',
                        headers : {
                            "Content-Type" : "application/json"
                        },
                        body : JSON.stringify({
                            orderId,
                            orderItemId,
                            reason,
                            description
                        })
                    })

                    const data = await response.json()
                    
                    if (data.loginRequired) {
                        window.location.href = '/login'
                    }
                    if (data.success) {
                        showToast(data.message , "success")
                    } else {
                        showToast(data.message,"error")
                    }
                    closeModal()
                    setTimeout(()=>{window.location.reload()},500)
                    //form.reset()
                }

                
                //showToast('Your support request has been submitted successfully!',"success")
                
            });

    })





function showToast(message, type = "success") {

    const toast = document.createElement("div");
    toast.innerText = message;

    toast.style.position = "fixed";
    toast.style.top = "20px";
    toast.style.right = "20px";
    toast.style.padding = "12px 20px";
    toast.style.borderRadius = "6px";
    toast.style.color = "white";
    toast.style.zIndex = "9999";
    toast.style.fontWeight = "500";
    toast.style.boxShadow = "0 5px 15px rgba(0,0,0,0.2)";
    toast.style.transition = "all 0.3s ease";

    if (type === "success") {
        toast.style.backgroundColor = "#28a745";
    } else {
        toast.style.backgroundColor = "#dc3545";
    }

    document.body.appendChild(toast);

    setTimeout(() => {
        toast.remove();
    }, 3000);
}
</script>
</body>

</html>