<link rel="stylesheet" href="/css/user/wishlist.css">

<!-- Header -->
<header>
    <div class="header-container">
        <div class="logo">
            <div class="logo-icon"><i class="fa-solid fa-check"></i></div>
            <div class="logo-text">
                <span class="brand">VELOCE</span>
                <span class="sub-brand">GAMING</span>
            </div>
        </div>

        <nav>
            <a href="/">Home</a>
            <a href="/shop">Shop</a>

        </nav>



        <div class="header-icons">
            <a href="/wishlist"><i class="fa-solid fa-heart"></i></a>
            <a style="text-decoration: none;" href="/cart" class="cart-icon-wrapper">
                <i class="fa-solid fa-cart-shopping"></i>
                <% if (Number(cartCount) > 0) { %>
                    <span class="cart-badge"><%= cartCount %></span>
                <% } %>
               </a>
            <a href="/profile">
            <div class="user-menu">
                <div class="profile-circle">
                <% if (user.profileImage){ %>
                        <img src="<%= user.profileImage %>" 
                           style="width:100%; height:100%; object-fit:cover; border-radius:50%;">
                    <% }  else { %>
                    <%= user.name.charAt(0).toUpperCase() %> 
                    <% } %> 
                </div>
            
            </div>
        </a>
        </div>
    </div>
</header>

<main>


    <section class="wishlist-section">
        <div class="wishlist-header">
            <h2>Wishlist</h2>
            <button onclick="moveAllToBag()" class="btn-move-all">Move All To Bag</button>
        </div>
        <div class="wishlist-container">
            <% if (wishlistItems.length > 0) { %>
            <% wishlistItems.forEach ( (item,index) => { %>
                <% if (item.variantId && item.variantId.status && !item.variantId.productId.isDeleted && !item.variantId.productId.categoryId.isDeleted) { %>
        <div id="wishlist-<%= item.variantId._id %>">
        
            <div class="wishlist-card">
                <a style="text-decoration: none;" href="/product/<%= item.variantId._id %>" >
                <div class="product-image">
                    <img src="<%= item.variantId.images[0] %>" style="width:100%; height:100%; object-fit:cover; ;"
                        class="product-img">
                </div>
                </a>
                <div class="product-details">
                    <div class="product-info-top">
                        <h3><%= item.variantId.productId.name %></h3>
                        <div class="price-info">
                            <span class="current-price">₹ <%= item.variantId.offeredPrice.toLocaleString("en-IN") %></span>
                            <% if (item.variantId.productId.offer != 0){ %>
                            <span class="discount">
                            -<%= item.variantId.productId.offer %>% OFF
                            </span>
                            <% } %>
                        </div>
                    </div>

                    <div class="product-attributes">
                        <p>
                            <% item.variantId.attributes.forEach ( (attr,index) => { %>
                            <% if (attr.value) { %>
                                <% if (attr.key == "color") { %>
                                    <%= attr.key %> : <%= item.variantId.colorName %> <br>
                                <% } else { %>
                                    <%= attr.key %> : <%= attr.value %> <br>
                                <% } %>
                            <% } %>
                        <% }) %>
                        </p>
                        
                    </div>
                    <% if (item.variantId.stock <= 5) {  %>
                        <span class="out-of-stock-badge">
                    <% if (item.variantId.stock == 0) { %>
                        Out of Stock
                    <% } else { %>
                        <%= item.variantId.stock %> Left
                    <% } %>
                    </span>
                <% } %>

                    <div class="product-actions">
                         <i onclick="handleRemove(event,'<%= item.variantId._id %>'); " class="fa-regular fa-trash-can delete-icon"></i>
                        
                        <button onclick="addToCart('<%= item.variantId._id %>')" class="btn-add-to-cart">Add To Cart</button>
                    </div>
                </div>
            </div>
        
        </div>
        <% } %>
        <% }) %>
        <% } else { %>
            <h1>Product Not Found</h1>
        <% } %>
        </div>
    </section>
</main>



<!-- Mobile Bottom Navbar -->
<div class="mobile-bottom-nav">
    <a href="../home/index.html" class="nav-item">
        <i class="fa-solid fa-house"></i>
        <span>Home</span>
    </a>
    <a href="../shop/index.html" class="nav-item">
        <i class="fa-solid fa-bag-shopping"></i>
        <span>Shop</span>
    </a>
    <a href="#" class="nav-item">
        <i class="fa-solid fa-cart-shopping"></i>
        <span>Cart</span>
    </a>
    <a href="#" class="nav-item active">
        <i class="fa-solid fa-heart"></i>
        <span>Wishlist</span>
    </a>
    <a href="../profile/index.html" class="nav-item">
        <i class="fa-solid fa-user"></i>
        <span>Profile</span>
    </a>
</div>

<!-- Scripts -->
<script src="/js/user/wishlist.js"></script>